body {
    margin: 0;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    height: 100vh;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}

a {
  color: #00B7FF;
}

.regular-wrapper{
  padding:0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.regular-wrapper{
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.block-left{
  height:100vh;
}

.block-left-inner{
  color: white;
  font-size: 30px;
  text-align: center;
  top: 50%;
}

.block-right{
  background-color: white;
  padding: 5%;
  font-family: sans-serif;
  color: rgb(80, 85, 92);
  font-weight: 400;
  font-size: 13px;
  font-style: normal; 
  min-height: 100vh;
}

.mainTitle{
  font-size: 300%;
  text-align: center;
  margin: 40vh 0;
  
}



.subHeader{
  color: rgb(255, 187, 0);
  font-weight: bold;
}

/* p {
  font-family: sans-serif;
  font-size: 13px;
} */
