html{
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    height: 100vh;
    /* transform-style: preserve-3d; */
    overflow-x:hidden;
    overflow-y:auto;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.mainTitle{
  font-family: 'gentium-book-basic' !important;
  font-size: 300%;
  text-align: center;
  /* margin: 38vh 0; */
  margin: 34vh 0;
  font-weight: 100;
}

.background{
  background-image: url("/images/rogersdesk.png");
  background-size: cover;
}

.block-left{
  height:100vh;
}

.block-left-inner{
  color: white;
  /* font-size: 30px; */
  font-size: 50px;
  text-align: center;
  top: 50%;
  height:50vh;
  /* background-color: lavender; */
  font-family: 'gentium-book-basic', sans-serif !important;
}

.aboutMeHeader{
  font-size: 160%;
  font-weight: bold;
  color: rgb(170, 207, 176);
  margin-bottom: 20px;
}

.navbar {
  /* position:absolute; */
  /* text-align: center; */
  /* left:30%;
  bottom:0; */
  font-size: 18px;

  /* margin: 0% 29% auto; */
  display: inline-block;
  bottom: 6%;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  color:white;
}

.intronavbar a{
  color: black;
}

.block-right{
  background-color: white;
  padding: 5%;
  font-family: sans-serif;
  color: rgb(80, 85, 92);
  font-weight: 400;
  font-size: 15px;
  font-style: normal; 
  min-height: 100vh;
}

.block-right ul {
  list-style: none; /* Remove default bullets */
  margin-left: 0;
  padding-left: 0;
}

.block-right ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(170, 207, 176);
  font-weight: bold; /* If you want it to be bold */
  font-size: 130%;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.header{
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 5px;
}

.subHeader{
  color: rgb(170, 207, 176);
  font-weight: bold;
  margin-bottom: 5px;
}


.content-row{
  margin-left: 0;
  margin-right: 0;
}

.spaced{
  margin-bottom: 30px;
}

.sm-spaced{
  margin-bottom: 15px;
}

.fadedText{
  color: rgb(138, 138, 138);
}

.fadedText span{
  font-size: 85%;
  font-style: italic;
}

@font-face {font-family: 'gentium-book-basic'; 
  src: url('/fonts/gentium-book-basic.regular.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face {font-family: 'brandon-grotesque-black'; 
  src: url('/fonts/brandon-grotesque-black.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face {font-family: 'brandon-grotesque-bold-italic'; 
  src: url('/fonts/brandon-grotesque-bold-italic.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}

@font-face {font-family: 'brandon-grotesque-regular-italic'; 
  src: url('/fonts/brandon-grotesque-regular-italic.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}

.bounce{
  animation: bounce 6s linear;
  position:relative;
}

@keyframes bounce {
  /* n% - what percentage of the duration is spent animating the movement */
  0%{top:0em;}
  /* 3%{top:-0.9em;} */
  3%{top:-2.0em;}
  6%{top:0em;}
  8%{top:-0.4em;}
  10%{top:0em;}
  100%{top:0em;}
}