html {
    overflow: hidden;
}

body {
    margin: 0;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}

a {
  color: #00B7FF;
}

.parallax-wrapper{
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper::before{
  content:"";
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  background-image: url("/images/bg.jpg");
  position: absolute;
  z-index: -1;
  transform:translateZ(-1px) scale(2);
}

.regular-wrapper{
  width: 100vw;
  height: 100vh;
  /* padding-top: 40px; */
  background-color: white;
  /* background-image: url("/images/bg.jpg"); */
  z-index: 2;
  position: relative;
}

/* .content{
  margin: 0 auto;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: 50vh;
  width: 50%;
  background: #aaa;
} */

.block-left{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-right{
  padding-right: 40px;
}

.mainTitle{
  text-align: center;
  font-size: 300%;
}

h3 {
  margin-top: 0px;
  color: rgb(62, 98, 255);
}

.subHeader{
  color: green;
}

p {
  font-family: sans-serif;
  font-size: 13px;
}
