<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="parallax-wrapper">
      <div class="content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt fuga ad eligendi laudantium voluptatum quae porro ex, dicta libero ipsum, quaerat reiciendis veniam repudiandae qui tempora magni. Amet, mollitia cupiditate?</p>
        <p>Nulla maiores veritatis, doloribus, suscipit perferendis cumque sit nemo id, repudiandae quo voluptatum reiciendis possimus nisi pariatur debitis quae eligendi ab rerum fuga! Iusto provident, nihil distinctio eveniet perspiciatis quo.</p>
      </div>
    </div>
    <div class="regular-wrapper">
      <div class="content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt fuga ad eligendi laudantium voluptatum quae porro ex, dicta libero ipsum, quaerat reiciendis veniam repudiandae qui tempora magni. Amet, mollitia cupiditate?</p>
        <p>Nulla maiores veritatis, doloribus, suscipit perferendis cumque sit nemo id, repudiandae quo voluptatum reiciendis possimus nisi pariatur debitis quae eligendi ab rerum fuga! Iusto provident, nihil distinctio eveniet perspiciatis quo.</p>
      </div>
    </div>
  </body>
</html>
