<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="parallax-wrapper">
      <div class="mainTitle">
        <span>Roger Goh</span>
      </div>
    </div>
    <div class="regular-wrapper">
      <!-- <div class="content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt fuga ad eligendi laudantium voluptatum quae porro ex, dicta libero ipsum, quaerat reiciendis veniam repudiandae qui tempora magni. Amet, mollitia cupiditate?</p>
        <p>Nulla maiores veritatis, doloribus, suscipit perferendis cumque sit nemo id, repudiandae quo voluptatum reiciendis possimus nisi pariatur debitis quae eligendi ab rerum fuga! Iusto provident, nihil distinctio eveniet perspiciatis quo.</p>
      </div> -->
      <h1 class="blockHeader">What I've Done</h1>
      <div class="container">

        <div class="row">
          <div class="col-sm-4" style="background-color:lavender;">
            Image Placeholder
          </div>
          <div class="col-sm-8">
            <h3>University of Western Australia</h3>
            <h5 class="subHeader">Bachelor of Science, Double Major: Computer Science, Data Science</h5>
            <h5>May 2019 - May 2019 Perth, WA</h5>
            <p>Tenetur quaerat alias, et blanditiis ea dicta voluptate vitae sed nulla modi earum labore ab nesciunt illo eum rerum, omnis at nisi rem, ex sapiente cum! Perferendis eius fuga aperiam?</p>
          </div>
        </div>

        <div class="row" style="background-color:#aaa">
          <div class="col-sm-4" style="background-color:lavender;">
            Image Placeholder
          </div>
          <div class="col-sm-8" style="background-color:lavenderblush;">
            <h3>University of Western Australia</h3>
            <h5 class="subHeader">Bachelor of Science, Double Major: Computer Science, Data Science</h5>
            <h5>May 2019 - May 2019 Perth, WA</h5>
            <p>Tenetur quaerat alias, et blanditiis ea dicta voluptate vitae sed nulla modi earum labore ab nesciunt illo eum rerum, omnis at nisi rem, ex sapiente cum! Perferendis eius fuga aperiam?</p>
          </div>
        </div>

      </div>  
    </div>
  </body>
</html>
