<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>
  </head>
  <body>
    <div id="svgTrigger" style="top:0"></div>
    <div id="introWrapper" class="wrapper container background">
      <div class="mainTitle">
        <div>Roger Goh</div>
        <div style="font-size: 40%; color: rgb(122, 122, 122)">Software Developer + Artist</div>
        <div>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="500" height="500" class="signature">

            <path id="signature0" d="m69.5,169.945313c16,-21 28.112083,-34.889969 34,-41c13.256897,-13.756981 19.242455,-20.742554 32,-33c10.197876,-9.798119 15,-14 25,-19c6,-3 8.811447,-3.865356 11,-1c1.919479,2.513084 0.484451,5.156937 -2,12c-3.361069,9.257607 -11.162109,20.886993 -16,28c-11.387589,16.742844 -24.712799,34.488373 -31,44c-11.354523,17.177734 -15,26 -22,40l-4,9l-1,5" id="svg_2" stroke-width="7.5" stroke="#000" fill="none"/>
            <path id="signature1" d="m119.5,124.945313c-8,20 -8.848885,24.046585 -12,34c-3.817787,12.059204 -5.644012,19.075607 -9,34c-1.80912,8.045319 -4.38533,24.192993 -10,41c-2.707207,8.10376 -9,25 -13,37l-1,4l0,6l0,0" id="svg_3" stroke-width="7.5" stroke="#000" fill="none"/>
            <path id="signature2" d="m160.5,164.945313c-15,12 -17.831787,14.522156 -21,21c-1.389359,2.840729 -4,9 -4,15c0,2 0.385101,6.372009 3,10c0.826904,1.147263 4.925797,4.497559 10,5c3.98053,0.39415 11.316879,-5.319717 16,-16c7.115921,-16.228485 5.122345,-23.06601 4,-25c-1.809723,-3.118484 -6.066589,-5.957443 -11,-2c-4.548386,3.64859 -5,7 -6,13l-1,5" id="svg_4" stroke-width="7.5" stroke="#000" fill="none"/>
            <path id="signature3" d="m211.5,163.945313c-17,12 -22.49295,21.234009 -25,26c-5.035675,9.572983 -8.752563,18.010223 -9,21c-0.501709,6.062042 0.693436,9.458801 2,10c3.695511,1.530731 9.159271,-1.610641 12,-3c6.477844,-3.168213 9,-7 13,-13c4,-6 5.497559,-8.925797 6,-14c0.39415,-3.98053 1.565369,-6.150986 -1,-8c-1.622482,-1.169418 -3.144287,-0.065857 -4,2c-1.210144,2.92157 -1,4 0,7l1,2l2,0" id="svg_5" stroke-width="7.5" stroke="#000" fill="none"/>
            <path id="signature4" d="m251.5,161.945313c-12,15 -12.550369,16.641174 -15,21c-2.638321,4.694595 -2.79393,8.087433 -5,13c-1.832031,4.079666 -2,6 -2,11c0,3 -0.210144,5.07843 1,8c0.855713,2.065857 0.769562,2.841492 3,3c3.154327,0.224167 5.232956,-1.589722 9,-4c5.393585,-3.450989 6.729614,-6.228851 11,-11c2.829498,-3.161316 4,-4 7,-5l1,0l1,1l0,1" id="svg_6" stroke-width="7.5" stroke="#000" fill="none"/>
            <path id="signature5" d="m236.5,193.945313c14,-8 16.74675,-10.371338 21,-13c1.9021,-1.175568 5,-4 8,-5l1,-1l1,-1" id="svg_7" stroke-width="7.5" stroke="#000" fill="none"/>
            <path id="signature6" d="m243.5,165.945313c15,-6 18,-8 23,-11l3,-3l2,0l2,-1" id="svg_8" stroke-width="7.5" stroke="#000" fill="none"/>
            <path id="signature7" d="m297.5,158.945313c-5,14 -5.432678,17.054138 -6,20c-1.018372,5.287994 -1.579712,8.156876 -4,14c-2.567108,6.197571 -3.881897,8.072784 -7,13c-1.92807,3.046722 -3,4 -4,5c0,0 0,-1 1,-4c1,-3 3.695923,-9.159393 8,-17c2.805908,-5.11145 9.060577,-14.950714 18,-26c4.027405,-4.977951 13.74292,-15.294128 24,-24c4.881775,-4.143478 13.423767,-11.21904 23,-15c3.835022,-1.514168 11,-3 17,-3c2,0 7.418854,2.256584 9,7c0.948669,2.846054 0.034119,10.433182 -5,21c-2.507843,5.264099 -10.63385,17.295593 -22,31c-6.786133,8.18219 -22.4216,25.625473 -44,45c-12.671295,11.377106 -40,35 -66,62l-22,24" id="svg_9" stroke-width="7.5" stroke="#000" fill="none"/>
            <path id="signature8" d="m106.5,185.945313c3,21 10.596962,36.266495 16,44c13.060043,18.693192 32.011826,37.986877 42,47c21.024918,18.972412 32.105103,29.187744 53,44c15.392654,10.911743 23.693436,15.458801 25,16c0.923874,0.38269 -0.097885,-0.824432 -2,-2c-0.850647,-0.525726 -2,-1 -2,-2l-1,0l1,0" id="svg_26" fill-opacity="null" stroke-opacity="null" stroke-width="7.5" stroke="#000" fill="none"/>
 
          </svg>
        </div>
      </div>
    </div>
    <div class="wrapper container">
      <div class="row" style="background-color: rgb(170, 207, 176);">
        <div id="trigger0"></div>
        <div id="staticLength0" class="col-sm-6 block-left">
            <div id="pin0" class="block-left-inner">
              About Me
              <div class="navbar">
                <ul>
                  <li><a href="#trigger0">About Me</a></li>
                  <li>/</li>
                  <li><a href="#trigger1">Contact</a></li>
                </ul>
              </div>
            </div>
        </div>
        <div id="scrollLength0" class="col-sm-6 block-right">

          <div class="row aboutMeHeader">Education</div>

          <div class= "sm-spaced row">
            <div class="header">University of Western Australia</div>
            <div class="fadedText">
              <i>Jan 2016 - Jun 2019</i>
              <span>&nbsp; Perth, WA</span>
            </div>
            <p><ul>
                <li>BSc Double Major in Computer Science and Data Science; GPA 4.8/7.0</li>
                <li>ISAT Score of 170 - top 30% of test-taking population (highly competitive medical sciences cognitive/admission test developed by ACER).</li>
            </ul></p>
          </div>

          <div class="spaced row">
            <div class="header">Taylors College</div>
            <div class="fadedText">
              <i>Jan 2015 - Dec 2015</i>
              <span>&nbsp Perth, WA</span>
            </div>
            <p><ul>
                <li>Foundation Course; Course Average: 80%, English Average: A</li>
                <li>ASEAN $5000 Scholarship</li>
            </ul></p>
          </div>

          <div class="row aboutMeHeader">Skills</div>

          <div class="spaced row">
            <ul>
                <li><b>Web/Mobile Development: </b>Swift(iOS), JavaScript, HTML/CSS/Bootstrap, Express, NodeJS, Angular, React, ScrollMagic.</li>
                <li><b>General Purpose / Other: </b>Git, Python, C, C++, Java, MatLab, VBA.</li>
                <li><b>Databases: </b>MySQL, MongoDB, Firebase, BigQuery.</li>
                <li><b>Environments: </b>Unix/Linux, Mac, Windows.</li>
                <li><b>Visual Design: </b>Adobe Photoshop, Illustrator, Aftereffects, PaintTool SAI.</li>
            </ul>
          </div>

          <div class="row aboutMeHeader">Experience</div>

          <div class="spaced row">
            <div class="header">Backend Developer (NodeJS)</div>
            <div class="fadedText">
              <i>Learning for Purpose, Perth, WA</i>
              <p><span>Aug 2019 - Oct 2019</span></p>
            </div>
            <p><ul>
                <li>Independent contract work to implement a web server used to retrieve, transform and store data from Qualtrics (survey platform) to Google Cloud BigQuery (storage) and Google Pub/Sub (message-oriented middleware).</li>
                <li>Additionally implemented dynamically field-updating schema, error mailing system, service options via query strings, Google App Engine server deployment and documentation.</li>
            </ul></p>
          </div>

          <div class="row aboutMeHeader">Activities</div>

          <div class="sm-spaced row">
            <div class="header">UniMentor 2019</div>
            <div class="fadedText">
              <i>University of Western Australia, Perth, WA</i>
              <p><span>Jan 2019 - Apr 2019</span></p>
            </div>
            <p><ul>
                <li>Mentored six new freshman students with one-on-one weekly meetings by providing advice on curriculum, services for students and other general information about the university or student life.</li>
            </ul></p>
          </div>

          <div class="sm-spaced row">
            <div class="header">iOS App Development (Swift)</div>
            <div class="fadedText">
              <i>Personal Project, Perth, WA</i>
              <p><span>Jan 2019 - Current</span></p>
            </div>
            <p><ul>
              <li>Developing a mobile app for iOS utilizing Swift’s extensive UI data structures/event callbacks, UIImageView animations and third-party libraries (cocoa pods).</li>
            </ul></p>
          </div>

          <div class="sm-spaced row">
            <div class="header">Guild Micro-Volunteering</div>
            <div class="fadedText">
              <i>University of Western Australia, Perth, WA</i>
              <p><span>Jul 2017 - Oct 2017</span></p>
            </div>
            <p><ul>
              <li>Participated in crafting activities for university events/clubs.</li>
            </ul></p>
          </div>

        </div>
      </div>

      <div class="row" style="background-color: rgb(63, 63, 63)">
          <div id="trigger1"></div>
          <div id="staticLength1" class="col-sm-6 block-left">
              <div id="pin1" class="block-left-inner">
                Contact
                <div class="navbar">
                    <ul>
                      <li><a href="#trigger0">About Me</a></li>
                      <li>/</li>
                      <li><a href="#trigger1">Contact</a></li>
                    </ul>
                  </div>
              </div>
          </div>
          <div id="scrollLength1" class="col-sm-6 block-right" style="background-color:white">
            <div class="row">
              <div class="col-sm-12">
                <h3>University of Western Australia</h3>
                <h5 class="subHeader">Bachelor of Science, Double Major: Computer Science, Data Science</h5>
                <h5>May 2019 - May 2019 Perth, WA</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, dignissimos? Accusamus corporis, quaerat voluptate mollitia cum tenetur modi dolore ea libero ipsa nesciunt reprehenderit pariatur deleniti illum facere ratione sapiente!</p>
                <p>Omnis iure, debitis, ea fuga quis dolores exercitationem facere est esse cupiditate id ipsa at repellat, distinctio provident eius nesciunt consequuntur accusantium officiis? Recusandae autem officia itaque ab, eaque commodi?</p>
                <p>Itaque, obcaecati error qui laboriosam nam, molestias ducimus nostrum fugiat nemo blanditiis, cum quibusdam? Omnis ipsa voluptatibus temporibus vitae? Officiis, quas. Quidem voluptatum, nisi ullam adipisci consequatur ab alias praesentium!</p>
                <p>Consequatur accusantium aspernatur labore? Ex nisi facilis, adipisci omnis, sed totam tempora expedita iusto, temporibus vero iure consequatur ut asperiores! Ex perferendis ea vel aperiam, optio nisi consectetur magni culpa.</p>
                <p>Quasi et sequi nobis voluptatibus architecto perspiciatis, obcaecati non sapiente adipisci explicabo, dolore odio voluptate alias. Animi nisi voluptates maxime blanditiis? Commodi, perspiciatis quisquam! Odit in distinctio illum magnam aliquid!</p>
                <p>Dolor saepe distinctio libero possimus ab expedita iusto ut debitis repellat, a architecto quia ipsa, unde rem corporis ad sunt eum error? Omnis nesciunt mollitia quae placeat molestias error quasi.</p>
                <p>Tempora quod id nihil unde doloribus quaerat atque facere ab, itaque nostrum reiciendis, sint aperiam. Facilis possimus, perspiciatis fugit, ducimus iure eos nemo nulla recusandae quibusdam esse officia explicabo ipsum.</p>
                <p>Dolorum facilis alias perspiciatis velit nisi. Hic est dignissimos ullam praesentium quis? Possimus illo dolorum rerum, libero assumenda architecto quia! Delectus nisi dolor officia et veritatis! Consectetur voluptatibus impedit dolor.</p>
                <p>Atque laboriosam blanditiis impedit incidunt quas, nesciunt quibusdam magnam iusto esse quam cupiditate asperiores! Quidem, ab! Eum est velit harum nesciunt magni, nobis molestiae voluptatibus et ipsum beatae quia ex.</p>
                <p>Esse saepe iste incidunt voluptatem voluptatibus enim iure in excepturi perferendis facere aperiam quo eligendi officiis quod sit, culpa ex eveniet. Repellendus ipsa nobis excepturi error dolorum nulla doloribus doloremque!</p>
                <p>Dolorum facilis alias perspiciatis velit nisi. Hic est dignissimos ullam praesentium quis? Possimus illo dolorum rerum, libero assumenda architecto quia! Delectus nisi dolor officia et veritatis! Consectetur voluptatibus impedit dolor.</p>
                <p>Atque laboriosam blanditiis impedit incidunt quas, nesciunt quibusdam magnam iusto esse quam cupiditate asperiores! Quidem, ab! Eum est velit harum nesciunt magni, nobis molestiae voluptatibus et ipsum beatae quia ex.</p>
                <p>Esse saepe iste incidunt voluptatem voluptatibus enim iure in excepturi perferendis facere aperiam quo eligendi officiis quod sit, culpa ex eveniet. Repellendus ipsa nobis excepturi error dolorum nulla doloribus doloremque!</p>
                <p>Tenetur quaerat alias, et blanditiis ea dicta voluptate vitae sed nulla modi earum labore ab nesciunt illo eum rerum, omnis at nisi rem, ex sapiente cum! Perferendis eius fuga aperiam?</p>
                
              </div>
            </div>
          </div>
        </div>

    </div>
  </body>
</html>

<!-- Section Headers Scrolling -->
<script>
    $(function () { // wait for document ready
      for(i=0;i<2;i++){ //loop through each scene/block
        var controller = new ScrollMagic.Controller();
        var staticLength = $(`#staticLength${i}`).outerHeight()  //bottom line of the header block/left column
        var scrollLength = $(`#scrollLength${i}`).outerHeight()  //bottom line of the information block/right column
        var scrollDuration = scrollLength-staticLength      //distance between the two, scroll space
        
        //if screen is small, the header/column fills the width of the page therefore does not require scrolling
        //if scrollDuration is negative, that means the header is longer than the information passage thus also does not require scrolling
        if ($(window).innerWidth() < $(window).innerHeight()  ||  scrollDuration<=0) {
          controller.enabled(false);
        } else {
          controller.enabled(true);
        }
        
        //build content sections scenes
        var scene = new ScrollMagic.Scene({offset: staticLength, triggerHook: "onEnter", triggerElement: `#trigger${i}`, duration: scrollDuration})
                .setPin(`#pin${i}`)
                .on('start', function () {
                  console.log(`Height: ${window.innerHeight}, Width: ${window.innerWidth}`)
                })
                .on('end', function () {
                  console.log("passed trigger");
                })
                // .addIndicators({name: ` (duration: ${scrollDuration})`}) // add indicators (requires plugin)
                .addIndicators({name: "scroll"})
                .addTo(controller);
      
        //prevents multiple premature triggers during manual resizing
        $(window).resize(function() {
          if(this.resizeTO) clearTimeout(this.resizeTO);
          this.resizeTO = setTimeout(function() {
              $(this).trigger('resizeEnd');
          }, 500);
        });

        //refresh page on resize to reinit pins
        $(window).on("resizeEnd", function() {
          location.reload();
        });
      }
    });
</script>

<!-- SVG Animation -->
<script>
    function pathPrepare ($el) {
      var lineLength = $el[0].getTotalLength();
      $el.css("stroke-dasharray", lineLength);
      $el.css("stroke-dashoffset", lineLength);
    }
    
    // init controller
    var controller = new ScrollMagic.Controller();

    //build tween
    var tween = new TimelineMax() 
    for(var i=0; i<9; i++){
      var $signatureN = $(`path#signature${i}`);
      pathPrepare($signatureN); //prepare SVG
      tween.add(TweenMax.to($signatureN, 0.2, {strokeDashoffset: 0, ease:Linear.easeNone})) // draw stroke for 0.9
    }
    tween.add(TweenMax.to("path", 1, {stroke: "#33629c", ease:Linear.easeNone}), 0);			// change color during the whole thing

    // build scene
    var scene = new ScrollMagic.Scene({triggerHook: "onLeave", triggerElement: "#svgTrigger", duration: 700, tweenChanges: true})
            .setTween(tween)
            .addIndicators({name: "animation"}) // add indicators (requires plugin)
            .setPin("#introWrapper")
            .addTo(controller);
  </script>