<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <!-- <script>
        // init controller
        var controller = new ScrollMagic.Controller();
    </script> -->

  </head>
  <body>
    <div class="regular-wrapper">
      <div class="mainTitle">
        <span>Roger Goh</span>
      </div>
    </div>
    <div class="regular-wrapper">
      
      <div class="row" style="background-color: rgb(255, 187, 0);">
        <div id="trigger0"></div>
        <div id="staticLength0" class="col-sm-6 block-left">
            <div id="pin0" class="block-left-inner">What I've Done</div>
        </div>
        <div id="scrollLength0" class="col-sm-6 block-right">
          <div class="row">
            <div class="col-sm-12">
              <h3><b>University of Western Australia</b></h3>
              <h5 class="subHeader">Bachelor of Science, Double Major: Computer Science, Data Science</h5>
              <h5>May 2019 - May 2019 Perth, WA</h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, dignissimos? Accusamus corporis, quaerat voluptate mollitia cum tenetur modi dolore ea libero ipsa nesciunt reprehenderit pariatur deleniti illum facere ratione sapiente!</p>
              <p>Omnis iure, debitis, ea fuga quis dolores exercitationem facere est esse cupiditate id ipsa at repellat, distinctio provident eius nesciunt consequuntur accusantium officiis? Recusandae autem officia itaque ab, eaque commodi?</p>
              <p>Itaque, obcaecati error qui laboriosam nam, molestias ducimus nostrum fugiat nemo blanditiis, cum quibusdam? Omnis ipsa voluptatibus temporibus vitae? Officiis, quas. Quidem voluptatum, nisi ullam adipisci consequatur ab alias praesentium!</p>
              <p>Consequatur accusantium aspernatur labore? Ex nisi facilis, adipisci omnis, sed totam tempora expedita iusto, temporibus vero iure consequatur ut asperiores! Ex perferendis ea vel aperiam, optio nisi consectetur magni culpa.</p>
              <p>Quasi et sequi nobis voluptatibus architecto perspiciatis, obcaecati non sapiente adipisci explicabo, dolore odio voluptate alias. Animi nisi voluptates maxime blanditiis? Commodi, perspiciatis quisquam! Odit in distinctio illum magnam aliquid!</p>
              <p>Dolor saepe distinctio libero possimus ab expedita iusto ut debitis repellat, a architecto quia ipsa, unde rem corporis ad sunt eum error? Omnis nesciunt mollitia quae placeat molestias error quasi.</p>
              <p>Tempora quod id nihil unde doloribus quaerat atque facere ab, itaque nostrum reiciendis, sint aperiam. Facilis possimus, perspiciatis fugit, ducimus iure eos nemo nulla recusandae quibusdam esse officia explicabo ipsum.</p>
              <p>Dolorum facilis alias perspiciatis velit nisi. Hic est dignissimos ullam praesentium quis? Possimus illo dolorum rerum, libero assumenda architecto quia! Delectus nisi dolor officia et veritatis! Consectetur voluptatibus impedit dolor.</p>
              <p>Atque laboriosam blanditiis impedit incidunt quas, nesciunt quibusdam magnam iusto esse quam cupiditate asperiores! Quidem, ab! Eum est velit harum nesciunt magni, nobis molestiae voluptatibus et ipsum beatae quia ex.</p>
              <p>Esse saepe iste incidunt voluptatem voluptatibus enim iure in excepturi perferendis facere aperiam quo eligendi officiis quod sit, culpa ex eveniet. Repellendus ipsa nobis excepturi error dolorum nulla doloribus doloremque!</p>
              <p>Dolorum facilis alias perspiciatis velit nisi. Hic est dignissimos ullam praesentium quis? Possimus illo dolorum rerum, libero assumenda architecto quia! Delectus nisi dolor officia et veritatis! Consectetur voluptatibus impedit dolor.</p>
              <p>Atque laboriosam blanditiis impedit incidunt quas, nesciunt quibusdam magnam iusto esse quam cupiditate asperiores! Quidem, ab! Eum est velit harum nesciunt magni, nobis molestiae voluptatibus et ipsum beatae quia ex.</p>
              <p>Esse saepe iste incidunt voluptatem voluptatibus enim iure in excepturi perferendis facere aperiam quo eligendi officiis quod sit, culpa ex eveniet. Repellendus ipsa nobis excepturi error dolorum nulla doloribus doloremque!</p>
              <p>Tenetur quaerat alias, et blanditiis ea dicta voluptate vitae sed nulla modi earum labore ab nesciunt illo eum rerum, omnis at nisi rem, ex sapiente cum! Perferendis eius fuga aperiam?</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="background-color: rgb(63, 63, 63)">
          <div id="trigger1"></div>
          <div id="staticLength1" class="col-sm-6 block-left">
              <div id="pin1" class="block-left-inner">Header</div>
          </div>
          <div id="scrollLength1" class="col-sm-6 block-right" style="background-color:white">
            <div class="row">
              <div class="col-sm-12">
                <h3>University of Western Australia</h3>
                <h5 class="subHeader">Bachelor of Science, Double Major: Computer Science, Data Science</h5>
                <h5>May 2019 - May 2019 Perth, WA</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, dignissimos? Accusamus corporis, quaerat voluptate mollitia cum tenetur modi dolore ea libero ipsa nesciunt reprehenderit pariatur deleniti illum facere ratione sapiente!</p>
                <p>Omnis iure, debitis, ea fuga quis dolores exercitationem facere est esse cupiditate id ipsa at repellat, distinctio provident eius nesciunt consequuntur accusantium officiis? Recusandae autem officia itaque ab, eaque commodi?</p>
                <p>Itaque, obcaecati error qui laboriosam nam, molestias ducimus nostrum fugiat nemo blanditiis, cum quibusdam? Omnis ipsa voluptatibus temporibus vitae? Officiis, quas. Quidem voluptatum, nisi ullam adipisci consequatur ab alias praesentium!</p>
                <p>Consequatur accusantium aspernatur labore? Ex nisi facilis, adipisci omnis, sed totam tempora expedita iusto, temporibus vero iure consequatur ut asperiores! Ex perferendis ea vel aperiam, optio nisi consectetur magni culpa.</p>
                <p>Quasi et sequi nobis voluptatibus architecto perspiciatis, obcaecati non sapiente adipisci explicabo, dolore odio voluptate alias. Animi nisi voluptates maxime blanditiis? Commodi, perspiciatis quisquam! Odit in distinctio illum magnam aliquid!</p>
                <p>Dolor saepe distinctio libero possimus ab expedita iusto ut debitis repellat, a architecto quia ipsa, unde rem corporis ad sunt eum error? Omnis nesciunt mollitia quae placeat molestias error quasi.</p>
                <p>Tempora quod id nihil unde doloribus quaerat atque facere ab, itaque nostrum reiciendis, sint aperiam. Facilis possimus, perspiciatis fugit, ducimus iure eos nemo nulla recusandae quibusdam esse officia explicabo ipsum.</p>
                <p>Dolorum facilis alias perspiciatis velit nisi. Hic est dignissimos ullam praesentium quis? Possimus illo dolorum rerum, libero assumenda architecto quia! Delectus nisi dolor officia et veritatis! Consectetur voluptatibus impedit dolor.</p>
                <p>Atque laboriosam blanditiis impedit incidunt quas, nesciunt quibusdam magnam iusto esse quam cupiditate asperiores! Quidem, ab! Eum est velit harum nesciunt magni, nobis molestiae voluptatibus et ipsum beatae quia ex.</p>
                <p>Esse saepe iste incidunt voluptatem voluptatibus enim iure in excepturi perferendis facere aperiam quo eligendi officiis quod sit, culpa ex eveniet. Repellendus ipsa nobis excepturi error dolorum nulla doloribus doloremque!</p>
                <p>Dolorum facilis alias perspiciatis velit nisi. Hic est dignissimos ullam praesentium quis? Possimus illo dolorum rerum, libero assumenda architecto quia! Delectus nisi dolor officia et veritatis! Consectetur voluptatibus impedit dolor.</p>
                <p>Atque laboriosam blanditiis impedit incidunt quas, nesciunt quibusdam magnam iusto esse quam cupiditate asperiores! Quidem, ab! Eum est velit harum nesciunt magni, nobis molestiae voluptatibus et ipsum beatae quia ex.</p>
                <p>Esse saepe iste incidunt voluptatem voluptatibus enim iure in excepturi perferendis facere aperiam quo eligendi officiis quod sit, culpa ex eveniet. Repellendus ipsa nobis excepturi error dolorum nulla doloribus doloremque!</p>
                <p>Tenetur quaerat alias, et blanditiis ea dicta voluptate vitae sed nulla modi earum labore ab nesciunt illo eum rerum, omnis at nisi rem, ex sapiente cum! Perferendis eius fuga aperiam?</p>
                
              </div>
            </div>
          </div>
        </div>

    </div>
  </body>
</html>

<script>
    $(function () { // wait for document ready
      for(i=0;i<2;i++){ //loop through each scene/block
        var controller = new ScrollMagic.Controller();
        var staticLength = $(`#staticLength${i}`).outerHeight()  //bottom line of the header block/left column
        var scrollLength = $(`#scrollLength${i}`).outerHeight()  //bottom line of the information block/right column
        var scrollDuration = scrollLength-staticLength      //distance between the two, scroll space
        
        //if screen is small, the header/column fills the width of the page therefore does not require scrolling
        //if scrollDuration is negative, that means the header is longer than the information passage thus also does not require scrolling
        if ($(window).innerWidth() < $(window).innerHeight()  ||  scrollDuration<0) {
          controller.enabled(false);
        } else {
          controller.enabled(true);
        }
        
        //build scene
        var scene = new ScrollMagic.Scene({offset: staticLength, triggerHook: "onEnter", triggerElement: `#trigger${i}`, duration: scrollDuration})
                .setPin(`#pin${i}`)
                .on('start', function () {
                  console.log(`Height: ${window.innerHeight}, Width: ${window.innerWidth}`)
                })
                .on('end', function () {
                  console.log("passed trigger");
                })
                // .addIndicators({name: ` (duration: ${scrollDuration})`}) // add indicators (requires plugin)
                .addIndicators({name: "scroll"})
                .addTo(controller);
      
        //prevents multiple premature triggers during manual resizing
        $(window).resize(function() {
          if(this.resizeTO) clearTimeout(this.resizeTO);
          this.resizeTO = setTimeout(function() {
              $(this).trigger('resizeEnd');
          }, 500);
        });

        //refresh page on resize to reinit pins
        $(window).on("resizeEnd", function() {
          location.reload();
        });
      }
    });
</script>