<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Roger Goh</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    
    <script src="https://code.angularjs.org/1.0.0/angular-1.0.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/jquery-ui.css'/>
    
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
  </head>
  <body>

    <!-- Intro Block -->
    <div id="svgTrigger" style="top:0"></div>
    <div id="introWrapper" class="wrapper container background" style="overflow:hidden;">
      <div class="mainTitle">
        <div style="font-size: 10.2vh;">Roger&nbsp;Goh</div>
        <div style="font-size: 4vh; color: rgb(122, 122, 122); font-family: brandon-grotesque-regular-italic;">Software Developer + Designer</div>
        <div id="signature">
          <svg xmlns="http://www.w3.org/2000/svg" class="signature" viewBox="0 0 404 202" height="100" style="margin-top: 2%; height: 25vh; width: 90vw;">
          <!-- xmlns:se="http://svg-edit.googlecode.com" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"  -->
            <g class="currentLayer">
              <polyline fill="none" stroke="#222222" stroke-width="7" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" marker-start="" marker-mid="" marker-end="" id="svg_1" points="25.220566272735596,90.19245910644531 25.220566272735596,89.61569213867188 24.066647052764893,90.19245910644531 21.758808612823486,91.9227294921875 18.29704713821411,94.22975158691406 14.258326053619385,97.11354064941406 10.796568393707275,98.84381103515625 8.488726139068604,99.9973373413086 7.911766529083252,100.57408905029297 7.911766529083252,99.9973373413086 10.219604969024658,96.53678894042969 13.104406833648682,93.65299224853516 17.143127918243408,89.0389404296875 22.91272783279419,83.84811401367188 35.60584878921509,74.62000274658203 47.145052433013916,66.54539489746094 60.992098331451416,57.31726837158203 76.57000970840454,48.089149475097656 92.14793634414673,39.43778610229492 118.11113977432251,27.902637481689453 136.57386255264282,20.981544494628906 153.8826699256897,15.213967323303223 169.46058130264282,11.176665306091309 187.34633874893188,8.292876243591309 196.00074243545532,8.292876243591309 200.6164345741272,9.446392059326172 201.19338464736938,13.483694076538086 195.42377710342407,22.135059356689453 186.19242334365845,30.209665298461914 172.9223427772522,40.59130096435547 156.19050073623657,53.27996826171875 136.57386255264282,67.69890594482422 103.68714380264282,87.88541412353516 86.37833642959595,98.26705932617188 " style="color: rgb(0, 0, 0);" class=""/>
              <polyline fill="none" stroke="#222222" stroke-width="7" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" marker-start="" marker-mid="" marker-end="" id="svg_2" points="132.5351357460022,22.711816787719727 132.5351357460022,22.135059356689453 132.5351357460022,21.558298110961914 132.5351357460022,22.711816787719727 132.5351357460022,23.865333557128906 130.80427026748657,27.902637481689453 125.03465509414673,40.59130096435547 117.53418970108032,54.4334831237793 106.57194757461548,72.31297302246094 92.72490167617798,91.34596252441406 78.30089807510376,113.26274871826172 57.53032922744751,145.56117248535156 46.56809091567993,163.44065856933594 37.33673334121704,179.58987426757812 29.836248874664307,192.8553009033203 27.528408527374268,197.4693603515625 " style="color: rgb(0, 0, 0);" class=""/>
              <polyline fill="none" stroke="#222222" stroke-width="7" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" marker-start="" marker-mid="" marker-end="" id="svg_3" points="120.41897821426392,99.42057800292969 119.84202814102173,98.84381103515625 118.11113977432251,99.42057800292969 114.6493706703186,101.72760772705078 112.34154748916626,104.03463745117188 108.87977075576782,107.49518585205078 104.26409387588501,112.10924530029297 100.22538232803345,116.72329711914062 97.91753625869751,120.18384552001953 97.34057092666626,122.49087524414062 99.07145166397095,123.06763458251953 103.11017084121704,123.06763458251953 112.34154748916626,119.60709381103516 120.99594354629517,114.99302673339844 130.80427026748657,109.22544860839844 140.61258935928345,101.72760772705078 147.53609704971313,94.80651092529297 150.42090845108032,90.19245910644531 149.26697778701782,87.30866241455078 144.651300907135,87.30866241455078 137.15082788467407,89.61569213867188 128.49640893936157,94.22975158691406 115.22633600234985,103.4578857421875 108.87977075576782,110.95572662353516 104.8410439491272,117.87682342529297 104.26409387588501,123.06763458251953 " style="color: rgb(0, 0, 0);" class=""/>
              <polyline fill="none" stroke="#222222" stroke-width="7" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" marker-start="" marker-mid="" marker-end="" id="svg_4" points="189.07722902297974,84.06209135055542 189.07722902297974,83.04303312301636 188.56461000442505,82.0239748954773 188.05200624465942,81.51444578170776 186.0015606880188,81.51444578170776 183.95113039016724,81.51444578170776 180.8754620552063,82.0239748954773 176.7745862007141,83.55256986618042 171.13586854934692,85.59068632125854 162.42151308059692,90.17646360397339 156.27017641067505,94.2527117729187 149.60626649856567,99.34801054000854 143.96753358840942,103.93379545211792 138.841450214386,108.01004362106323 134.74056673049927,112.59582090377808 133.2027325630188,115.65301084518433 132.1775097846985,118.71017789840698 132.1775097846985,121.25783109664917 132.69012117385864,123.80548429489136 134.22796297073364,124.31502103805542 136.79101991653442,124.82454252243042 140.8918957710266,123.80548429489136 147.04320192337036,121.25783109664917 159.345844745636,115.14346647262573 169.08543825149536,110.55769681930542 178.3124279975891,105.46238279342651 187.5394024848938,100.87660551071167 189.07722902297974,100.36708402633667 187.5394024848938,100.36708402633667 185.48895692825317,101.38614225387573 179.850239276886,104.44332456588745 171.13586854934692,111.06722593307495 167.54761171340942,114.1244158744812 167.54761171340942,116.16253232955933 169.59805727005005,116.67205381393433 178.3124279975891,114.6339373588562 187.5394024848938,110.55769681930542 " style="color: rgb(0, 0, 0);" class=""/>
              <polyline fill="none" stroke="#222222" stroke-width="7" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" marker-start="" marker-mid="" marker-end="" id="svg_5" points="179.2689003944397,114.41627502441406 181.57674646377563,113.83952331542969 185.038507938385,111.53248596191406 189.65418481826782,108.64869689941406 196.57770776748657,105.18814849853516 202.924250125885,102.30435943603516 212.15563440322876,98.26705932617188 218.50220727920532,95.38327026367188 224.8487343788147,91.9227294921875 230.04139184951782,89.0389404296875 234.08011865615845,85.5783920288086 234.6570382118225,84.42488098144531 234.6570382118225,83.2713623046875 232.92618799209595,82.69461059570312 230.61835718154907,82.69461059570312 226.0026650428772,83.2713623046875 222.54090356826782,85.00163269042969 217.34827661514282,87.88541412353516 211.57865381240845,91.34596252441406 201.19338464736938,98.84381103515625 194.84684228897095,104.03463745117188 189.65418481826782,108.64869689941406 186.19242334365845,112.10924530029297 184.46154260635376,114.99302673339844 183.8845772743225,116.72329711914062 183.8845772743225,117.3000717163086 183.8845772743225,118.45356750488281 186.19242334365845,118.45356750488281 193.69289636611938,117.3000717163086 201.77033472061157,113.83952331542969 211.57865381240845,109.80220794677734 221.9639687538147,105.18814849853516 231.19530725479126,101.72760772705078 241.0036416053772,97.11354064941406 246.1962685585022,94.22975158691406 250.811945438385,90.76921081542969 255.42760705947876,87.30866241455078 261.19722986221313,82.69461059570312 265.23595666885376,79.8108139038086 267.54378747940063,78.08055114746094 268.1207528114319,77.5037841796875 268.697687625885,77.5037841796875 268.1207528114319,77.5037841796875 266.9668526649475,77.5037841796875 263.50506067276,80.3875732421875 258.88939905166626,83.84811401367188 249.08106470108032,90.76921081542969 240.426691532135,97.11354064941406 230.61835718154907,104.03463745117188 222.54090356826782,109.80220794677734 215.04044580459595,114.99302673339844 213.30953454971313,116.14654541015625 212.73258447647095,116.72329711914062 213.30953454971313,116.72329711914062 223.69483423233032,111.53248596191406 228.88746118545532,108.07193756103516 240.426691532135,101.15084838867188 256.00457239151,93.65299224853516 274.4673104286194,86.1551513671875 304.46923303604126,75.1967544555664 323.50890588760376,70.00593566894531 341.3946785926819,65.9686279296875 356.97262048721313,64.23835754394531 370.24267053604126,63.66160583496094 383.5127511024475,64.23835754394531 389.859308719635,65.9686279296875 393.89806604385376,67.69890594482422 395.6289315223694,69.4291763305664 396.20589685440063,71.7362060546875 388.1284432411194,78.65730285644531 373.70446252822876,86.7319107055664 352.9338936805725,95.96002960205078 327.5476632118225,106.91842651367188 283.12169885635376,127.68168640136719 251.38892602920532,144.4076690673828 221.38698816299438,161.71038818359375 196.00074243545532,177.85960388183594 185.038507938385,184.78070068359375 " style="color: rgb(0, 0, 0);" class="selected"/>
              <polyline fill="none" stroke="#222222" stroke-width="7" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" marker-start="" marker-mid="" marker-end="" id="svg_6" points="37.75977325439453,176.7061004638672 37.75977325439453,176.1293182373047 38.336734771728516,175.55258178710938 39.49065399169922,174.975830078125 42.95241928100586,173.8223114013672 49.29896926879883,171.51527404785156 60.838172912597656,167.4779510498047 79.30089569091797,161.71038818359375 117.3802490234375,151.32875061035156 150.8439483642578,144.4076690673828 187.76939392089844,138.64007568359375 227.00267028808594,134.02603149414062 265.08203125,132.29576110839844 313.54669189453125,134.602783203125 337.2020263671875,138.64007568359375 " style="color: rgb(0, 0, 0);" class=""/>
              <!-- Empty Stroke - time between finished svg and scroll pin release -->
              <polyline fill="none" stroke="#222222" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="" fill-rule="nonzero" marker-start="" marker-mid="" marker-end="" id="svg_7" points="1154.5,88.4105224609375 1154.5,88.4105224609375 " style="color: rgb(0, 0, 0);"/>
            </g>
          </svg>
        </div>
        <div class="intronavbar navbar" style="bottom:3vh;">
          <ul id = "intronavbar">
            <li><a href="#section0" class="bounce">About Me</a></li>
            <li>/</li>
            <li><a href="#experience" class="bounce" style="animation-delay:0.08s">Experience</a></li>
            <li>/</li>
            <li><a href="#section1" class="bounce" style="animation-delay:0.16s">Contact</a></li>
          </ul>
          <p id = "copyright" style="font-size:90%;color:rgb(143, 143, 143);">&copy;&nbsp;2019&nbsp;Roger&nbsp;Goh</p>
        </div>
      </div>
    </div>

    <!-- About Me Section -->
    <div id="aboutMeSection" class="wrapper container">
      <div class="row" style="background-color: rgb(170, 207, 176);">
        <div id="section0"></div>
        <div id="staticLength0" class="col-sm-6 block-left">
            <div id="pin0" class="block-left-inner" style="top:27%">
              <div><img class="spaced" style="height:20vh;" src="/images/profilepicture.png" alt="Profile Picture"></div>
              <div>About Me</div>
              <div class="navbar">
                <ul>
                  <li><a href="#section0" id="bouncy0">About Me</a></li>
                  <li>/</li>
                  <li><a href="#experience" id="bouncy1" style="animation-delay:0.08s">Experience</a></li>
                  <li>/</li>
                  <li><a href="#section1" id="bouncy2" style="animation-delay:0.16s">Contact</a></li>
                </ul>
              </div>
            </div>
        </div>

        <!-- Right Block -->
        <div id="scrollLength0" class="col-sm-6 block-right">

          <div class="content-row row aboutMeHeader">Education</div>

          <div class= "sm-spaced content-row row">
            <div class="header">University of Western Australia</div>
            <div class="fadedText">
              <p>
                <i>Jan 2016 - Jun 2019</i>
                <span>&nbsp;&nbsp;Perth,&nbsp;WA</span>
              </p>
            </div>
            <ul>
              <li>BSc Double Major in Computer Science and Data Science; GPA 4.8/7.0</li>
              <li>Granted Direct Pathway entry to Dental Medicine for International Students (discontinued) – Only 3 available places were awarded to highest-ranking applicants in academic performance, ISAT and interview score.</li>
              <li>ISAT Score of 170 - top 30% of national test-taking population (highly competitive medical sciences cognitive/admission test - measuring Critical, Quantitive and Overall Reasoning).</li>
            </ul>
          </div>

          <div class="spaced content-row row">
            <div class="header">Taylors College</div>
            <div class="fadedText">
              <p>
                <i>Jan 2015 - Dec 2015</i>
                <span>&nbsp; Perth, WA</span>
              </p>
            </div>
            <ul>
                <li>Foundation Course; Course Average: 80%, English Average: A</li>
                <li>ASEAN $5000 Scholarship.</li>
            </ul>
          </div>

          <div class="content-row row aboutMeHeader">Skills</div>

          <div class="content-row spaced row">
            <ul>
                <li><b>Web/Mobile Development: </b>Swift(iOS), JavaScript/NodeJS, HTML/CSS/Bootstrap, Express, Angular, React, Google Cloud APIs.</li>
                <li><b>General Purpose / Other: </b>Git, Python, C, C++, Java, MatLab, VBA.</li>
                <li><b>Databases: </b>MySQL, MongoDB, Firebase, BigQuery.</li>
                <li><b>Environments: </b>Unix/Linux, Mac, Windows.</li>
                <li><b>Visual Design: </b>Adobe Photoshop, Illustrator, Aftereffects, PaintTool SAI.</li>
            </ul>
          </div>

          <div id="experience" class="content-row row aboutMeHeader">Work Experience</div>

          <div class="spaced content-row row">
            <div class="header">Backend Developer (NodeJS)</div>
            <div class="fadedText">
              <i>Learning for Purpose, Perth, WA</i>
              <p><span>Aug 2019 - Oct 2019</span></p>
            </div>
            <ul>
              <li>Independent contract work to implement a web server used to retrieve, transform and store data from Qualtrics (survey platform) to Google Cloud BigQuery (storage) and Google Pub/Sub (message-oriented middleware).</li>
              <li>Additionally implemented dynamically field-updating schema, error mailing system, service options via query strings, Google App Engine server deployment and documentation.</li>
              <li>Regularly communicated with client discussing project expectations, explanation of technology requirements, solutions and end-user instructions whilst continuously updating the documentation independently.</li>
              <li>Client doubled my initial proposed payment and approached me for extended scope of work.</li>
            </ul>
          </div>

          <div class="content-row row aboutMeHeader">Activities</div>

          <div class="sm-spaced content-row row">
            <div class="header">PwC Tech Academy</div>
            <div class="fadedText">
              <i>PwC, Perth, WA</i>
              <p><span>October 2019</span></p>
            </div>
            <ul>
              <li>One day interactive workshop and networking event educating on:</li>
              <li>PwC’s contributions and values to technology.</li>
              <li>Technologies/techniques used in Data Analytics and Cybersecurity.</li>
              <li>Project Management/Communication skills via Agile Methodology.</li>
            </ul>
          </div>
          
          <div class="sm-spaced content-row row">
            <div class="header">UniMentor 2019</div>
            <div class="fadedText">
              <i>University of Western Australia, Perth, WA</i>
              <p><span>Jan 2019 - Apr 2019</span></p>
            </div>
            <ul>
              <li>Mentored six new freshman students with one-on-one weekly meetings by providing advice on curriculum, services for students and other general information about the university or student life.</li>
            </ul>
          </div>

          <div id="website" class="sm-spaced content-row row">
            <div class="header">Personal Website (NodeJS)</div>
            <div class="fadedText">
              <i>Personal Project, Perth, WA</i>
              <p><span>Oct 2019 - Current</span></p>
            </div>
            <ul class="spaced">
              <li>Independently developed a personal website without templates to demonstrate web development skills and to present a personalised profile.</li>
              <li>Combined own vector illustration (.svg), JavaScript/HTML/CSS and ScrollMagic library for scroll based animations (signature drawing, pinned headers/sections, navbar bouncing).</li>
              <li>Used Bootstrap containers/rows/columns and jQuery for cross-platform compatible formatting/styling.</li>
              <li>Lets also demonstrate some basic visualization (chart.js) and AngularJS (auto-complete suggestions, ng-model)!</li>
            </ul>
            <div class="spaced row">
              <div class="col-sm-4" style="max-height: 40vh; max-width: 40vw;"><canvas id="myChart" width="100" height="100"></canvas></div>
              <div class="col-sm-6">
                  <script src="/controllers/colourSelect.js"></script>
                  <div ng-app='MyModule'>
                      <div class="spaced" ng-controller='DefaultCtrl'>
                        <div style="margin-bottom: 10px"><b>Favourite colour of the Rainbow?</b></div>
                        <div>
                          <form id="colourForm" method="post">
                            <input type="text" id="colourInput" name="colour" class="form-control" auto-complete ui-items="names" ng-model="selected">
                            <span class="input-group-btn">
                              <button type="submit" id="addData" class="btn btn-primary" value="Add {{selected}}">Add {{selected}}</button>
                            </span>
                          </form>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <ul>
              <li>Will soon add a controller to populate the chart data with an SQL query later today!</li>
            </ul>
            
            <script type="text/javascript" src="/controllers/colourChart.js"></script>
        
          </div>

          <div class="sm-spaced content-row row">
            <div class="header">iOS App Development (Swift)</div>
            <div class="fadedText">
              <i>Personal Project, Perth, WA</i>
              <p><span>Jan 2019 - Current</span></p>
            </div>
            <ul>
              <li>Developing a mobile app for iOS utilizing Swift’s extensive UI data structures/event callbacks, UIImageView animations and third-party libraries (cocoa pods).</li>
            </ul>
          </div>

          <div class="sm-spaced content-row row">
            <div class="header">Guild Micro-Volunteering</div>
            <div class="fadedText">
              <i>University of Western Australia, Perth, WA</i>
              <p><span>Jul 2017 - Oct 2017</span></p>
            </div>
            <ul>
              <li>Participated in crafting activities for university events/clubs.</li>
            </ul>
          </div>

          <div class="sm-spaced content-row row">
            <div class="header">Student Council</div>
            <div class="fadedText">
              <i>Taylors College, Perth, WA</i>
              <p><span>Jan 2015 - Jul 2015</span></p>
            </div>
            <ul>
              <li>Contributed ideas to event planning and designed graphics for promotional media and tickets for 2 terms.</li>
            </ul>
          </div>

        </div>
      </div>

      <!-- New Section -->
      <div class="row" style="background-color: rgb(63, 63, 63)">
          <div id="section1"></div>
          <div id="staticLength1" class="col-sm-6 block-left">
              <div id="pin1" class="block-left-inner">
                <div>Contact</div>
                <div class="navbar">
                    <ul>
                      <li><a href="#section0" id="bouncy3">About Me</a></li>
                      <li>/</li>
                      <li><a href="#experience" id="bouncy4" style="animation-delay:0.08s">Experience</a></li>
                      <li>/</li>
                      <li><a href="#section1" id="bouncy5" style="animation-delay:0.16s">Contact</a></li>
                    </ul>
                  </div>
              </div>
          </div>
          <div id="scrollLength1" class="col-sm-6 block-right" style="background-color:white; padding: 7%;">
            
            <div class="content-row row aboutMeHeader" style="color: rgb(63, 63, 63);">Roger Goh</div>

            <div class="spaced content-row row" style="border: 0;">
                <p>Software Developer + Designer</p>
                <p>+61 481 222 890</p>
                <p><a href="mailto:rogerjgoh@gmail.com">rogerjgoh@gmail.com</a></p>
                <p><a href="https://linkedin.com/in/roger-goh"><b>LinkedIn</b></a></p>
            </div>

            <div class="content-row row aboutMeHeader" style="color: rgb(63, 63, 63);">Reference</div>

            <div class="spaced content-row row" style="border: 0;">
                <p><strong>Ramon Wenzel, PhD</strong></p>
                <p>Research Assistant Professor | <a href="https://learningforpurpose.org">Director Learning for Purpose</a></p>
                <p>+61 8 64885675</p>
                <p><a href="mailto:ramon.wenzel@uwa.edu.au">ramon.wenzel@uwa.edu.au</a></p>
                <p><a href="https://linkedin.com/in/ramonwenzel"><b>LinkedIn</b></a></p>
            </div>

          </div>
        </div>
    </div>

    <!-- Animation Logic-->
    <script type="text/javascript" src="/javascripts/scroll-bounce-animations.js"></script>
    <script type="text/javascript" src="/javascripts/svg-animation.js"></script>
    
    <!-- Check if signature animation requires more space (if divs are overlapping) -->
    <script type="text/javascript" src="/javascripts/collision-detection.js"></script>

    <!-- Chart Data -->
    <div id="colourData" hidden><%=colourData%></div>

  </body>
</html>